body
h1.principal
{
color:#ff0084;
text-align:center;
}
h2
{
color:blue;
text-align:left;
}
p.principal
{
color:red;
background-color:yellow;
text-align:left;
}
p.secundaria
{
color:black;
text-align:left;
}