#id1
{
color:red;
text-align:center;
}
h1.principal
{
background-color:#6495ed;
color:red;
text-align:center;
}
h1.secundaria
{
color:black;
text-align:left;
}
p.principal
{
background-color:#e0ffff;
color:blue;
text-align:left;
}
p.secundaria
{
color:black;
text-align:left;
}