body
{
background-color:#b0c4de;
}
#id1
{
color:red;
text-align:center;
}
h1.principal
{
color:red;
text-align:center;
}
h1.secundaria
{
color:black;
text-align:left;
}
p.principal
{
color:blue;
text-align:left;
}
p.secundaria
{
color:black;
text-align:left;
}