td.azul
{
background-color:blue;
text-align:center;
}
td.verde
{
background-color:green;
text-align:center;
}
td.rosa
{
background-color:#ff0084;
text-align:center;
}
td.preto
{
color:white;
background-color:black;
text-align:center;
}
td.vermelho
{
background-color:red;
text-aling:center;
}
body
{
text-transform:uppercase;
fon-family:"Courier New", Courier, monospace;
font-size:20px;
}